*{ box-sizing: border-box; }

/*****************************************/
body{
	margin: 0;
	padding: 0;
	font-family: "Poiret One";
	color: rgb(200,200,200);
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent
}
div{ font-size: 30px }
p{ font-size: 25px }
a{
	color: rgb(180,180,180);
	text-align: left;
	text-decoration: none
}
a:hover{
	color: white;
	text-shadow: 0 0 5px
}
button{
	border-style: none;
	outline: none;
	cursor: pointer
}
header{
	width: 100%;
	height: 250px;
	padding: 160px 0 0 40px;
	font-size: 40px;
	text-align: left;
}
footer{
	padding: 60px 0 50px 0;
	font-size: 15px;
	text-align: center;
	background-color: black
}
i{ color: rgb(130,130,130) }
img{ width: 100%; height: auto}
/******************************************/
::-webkit-scrollbar{width: 10px}
::-webkit-scrollbar-track{background-color: black}
::-webkit-scrollbar-thumb{background-color: rgb(50,50,50)}
.row::after {
	content: "";
	display: block;
	clear: both
}
.bgctext{
	padding: 40px;
	background: rgba(0,0,0,0.8);
}
.bgctext1{
	line-height: 40px;
	padding: 10px 40px 10px 40px;
	background: rgba(0,0,0,0.85);
}
.bimg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
.bimg1{
	background-position: center;
	background-repeat: repeat;
	background-size: auto;
	image-rendering: pixelated;
}
.descp{
	font-size: 20px;
	color: rgb(140,140,140)
}
.vertag{ font-size: 15px }
.box,.box2,.box3{ float: left; }
.box{ width: 50% }
.box2{
	width: 50%;
	height: 500px;
	overflow: auto
}
.box3{ width: 100%}
.tw{ padding: 10px; text-align: center }

/*****************************************/
@media (max-width: 720px){
	.box2{
		width: 100%;
		height: auto;
		overflow: hidden
	}
	.box{
		width: 100%;
		border: none;
	}
}
@media (max-width: 512px){
	div{font-size: 20px}
	p{ font-size: 20px }
	header{
		font-size: 30px;
		padding: 190px 0 0 30px
	}
	footer{ font-size: 13px }
	.bgctext{padding: 30px}
	.bgctext1{
		line-height: 30px;
		padding: 0 30px 0 30px
	}
}
