/* created by bambosan */

*{margin: 0; padding: 0}
a{color: #ABABAB}
a:hover{color: #C70500}
body{
	font-family:Open Sans;
	background: #000000;
	color: #ABABAB;
	-webkit-tap-highlight-color:transparent;
	max-width: 800px;
	margin: auto;
}
img{
	width: 45%;
	height: auto;
	padding: 5px
}
footer{
	margin: 50px;
	text-align: center;
	font-size: 1em
}
.name{
	margin: 20px 0 0 15px;
	text-align: left;
	font-size: 1.5em
}
header{
	margin: 15vh 0 0 15px;
	text-align: left;
	font-size: 3em
}
.col{
	height: auto;
	margin: 15px;
	border-radius: 5px
}
.hpack{
	display: block;
	font-size: 2em;
	line-height: 30px;
	text-align: left;
	text-decoration: none
}
.infpack{font-size: 0.7em}
p{
	font-size: 1em;
	line-height: 25px;
	padding: 2px
}
@media (max-width: 512px){
	header{font-size: 2em}
	img{width: 100%}
	.name{font-size: 1.3em}
	.hpack{font-size: 1.8em}
	.infpack{font-size: 0.6em}
	p{font-size: 0.9em}
}
