/* created by bambosan */

*{margin: 0; padding: 0}
a{color: white}
a:hover{color: #C70500}
body{
	font-family:Open Sans;
	background: #000000;
	-webkit-tap-highlight-color:transparent;
	max-width: 700px;
	margin: auto;
}
footer{
	margin: 50px;
	text-align: center;
	font-size: 1em
}
.name{
	margin: 20px 0 0 15px;
	text-align: left;
	font-size: 1.5em
}
header{
	margin: 15vh 0 0 15px;
	text-align: left;
	font-size: 3em
}
.col{
	height: auto;
	margin: 15px;
	padding: 15px;
	background: #141414;
	border-radius: 5px
}
.col .hpack{
	display: block;
	font-size: 2em;
	line-height: 30px;
	text-align: left;
	text-decoration: none
}
.col .infpack{font-size: 0.7em}
.col p{
	font-size: 1em;
	line-height: 25px;
	padding: 2px
}
header, footer, .name, .hpack, .col p{color: #ABABAB}
@media (max-width: 400px){
	header{font-size: 2em}
	.name{font-size: 1.3em}
	.col .hpack{font-size: 1.8em}
	.col .infpack{font-size: 0.6em}
	.col p{font-size: 0.9em}
}
